{% load static %}
<!--
Author: W3Layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title></title>

<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
	<!-- Template CSS -->
	<link href="{% static '//fonts.googleapis.com/css?family=Hind:400,500,600,700&display=swap' %}" rel="stylesheet">
<meta name="keywords" content="Hotel Booking Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Style --> <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

</head>
<body>
	{% include 'include/header.html' %}

<h1>SELECT FOLDER </h1>

	<div class="hotel">

		<ul class="menu">
				<li class="item1">
					<a href="">CHOOSE FOLDER<i class="menu-down"><img src="{% static 'images/down.png' %}" alt="" /></i> </a>

						<ul class="cute">
                         {% for f in folder %}
							<li class="subitem1"><a href="{{ f.get_url }}">{{f.folder_name}}</a></li>
						 {% endfor %}
						</ul>
				</li>
    	</ul>
		
	</div>

<div class="footer">
     <p>Copyright &copy; 2015 Hotel Booking Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>

</body>
</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
<div>
  {% for message in messages %}
  <script>
	swal("{{message}}");
  </script>
  {% endfor %}
</div> -->

