{% load static %}
<!--
Author: W3Layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
<title>Hotel Booking Widget A Flat Responsive widget Template :: w3layouts</title>

<!-- For-Mobile-Apps -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
	<!-- Template CSS -->
	<link href="{% static '//fonts.googleapis.com/css?family=Hind:400,500,600,700&display=swap' %}" rel="stylesheet">
<meta name="keywords" content="Hotel Booking Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //For-Mobile-Apps -->

<!-- Style --> <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />

</head>
<body>
	{% include 'include/header.html' %}

<div class="row">
    <div class="col-md-6 text-center">
      
      <h1 >Text from Image</h1>
      <p id="myInput"> {{single_file.folder_text|linebreaks}}</p>
	  <button onclick="myFunction()">Copy text</button>

	  <script>
		  
		function myFunction() {
			console.log("inside function------")
		/* Select text area by id*/
		var Text = document.getElementById("myInput");

		/* Select the text inside text area. */
		Text.select();

		/* Copy selected text into clipboard */
		navigator.clipboard.writeText(Text.value);
		}
	</script>
      </div>


		
	

    <div class="col-md-6">
      
	 {% if check %}    
     <u><h1 class="text-center">Uploaded Image</h1></u> 
	     <img src="" id="img" height="600px" width="500px" alt="Image format not supported" >
		 <script>
		
			document.addEventListener("DOMContentLoaded", () => {
				const recentImageDataUrl = localStorage.getItem("recent-image");
		
				if (recentImageDataUrl) {
					document.querySelector('#img').setAttribute("src", recentImageDataUrl);
				}
			});

		 </script>
	{% endif %}	 
	    
    </div>
  </div>


<div class="footer">
     <p>Copyright &copy; 2015 Hotel Booking Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>

</body>
</html>

