{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>OCR Converter</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Hind:400,500,600,700&display=swap" rel="stylesheet">
  <!-- Template CSS -->

</head>

<body>
  <!--/top-header-content-->
  {% include 'include/header.html' %}
  <!--//top-header-content-->

  <section class="w3l-inner-page-main">
    <div class="breadcrumb-infhny">
      <div class="container">
        <nav aria-label="breadcrumb">
          <h2 class="hny-title text-center">Login</h2>
          <ol class="breadcrumb mb-0">
            <li><a href="index.html">Home</a>
              <span class="fa fa-angle-double-right"></span></li>
            <li class="active">Login</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>

  {% if request.GET.command == 'verification' %}

  <div class="container max-auto alert alert-info" role="alert" style="max-width: 900px; margin-top:100px;">
    Thank you for registering with us.We have sent you a verification email to your email address  <a href="{{reg_form.email}}">{{request.GET.email}}</a> . Please verify it.
    <br><br>
    Already verified? <a href="{% url 'login'%}">Login</a>
  </div>

  {% else %}

  <!-- /contact-form -->
  <section class="w3l-contact-main">
    <div class="contact-infhny py-5">
      <div class="container py-lg-3">
        <div class="top-map">
          <div class="map-content-9">
            <form autocomplete="off" action="{% url 'login' %}" method="post">
                {% csrf_token %}
              <div class="form-top1">
                <h3 class="hny-title text-center mb-lg-5 mb-4" data-aos="fade-down">Login</h3>
               
                  <div class="form-top-righ" data-aos="fade-up">
                    <input type="email" name="email" id="w3lSender" placeholder="Email*" required=""><br>
                  </div>
                  <div class="form-top-righ" data-aos="fade-up">
                    <input type="password" name="password" id="w3lName" placeholder="Password" required="">
                  </div>
                  <p class="text-right"> <a href="{% url 'forgot_password' %}"> Forgot Password? </a></p>
                </div>
                <div class="text-center">
                  <button type="submit">Login</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>


  </section>
  {% endif %}
  <!-- //contact-form -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <div>
    {% for message in messages %}
    <script>
      Swal.fire({
        icon: '{{message.tags}}',
        text: "{{message}}",
        
        })
    </script>
    {% endfor %}
    </div>
  <!-- //contact-form

   footer -->
  <footer class="w3l-footer-16">
    <div class="footer-content py-lg-5 py-4 text-center">
      <div class="container">
        <div class="copy-right">
      

          <ul class="footer-gd-16">
            <li>© 2020 Usance. </li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <button onclick="topFunction()" id="movetop" title="Go to top">
          <span class="fa fa-angle-up"></span>
        </button>
      </div>
    </div>

    <!-- move top -->
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- //move top -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
  </footer>
  <!-- //footer -->
</body>

</html>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!--/MENU-JS-->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!--//MENU-JS-->
<!-- /aos -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/aosindex.js' %}"></script>
<!-- //aos -->
<!-- disable body scroll which navbar is in active -->
<!-- //jQuery-Photo-filter-lightbox-portfolio-plugin -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>